html {
  font-size: 10px;
  color: rgb(0, 0, 0, 0.8);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.7em;
  margin: 0;
  background-color: lightgrey;
  padding: 0.5em;
}

#main {
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  padding: 2em;
}

header {
  text-align: center;
  font-family: "Bangers", cursive;
  font-size: 1em;
}

#title {
  margin: 0;
  font-size: 2.5em;
  text-transform: uppercase;
}

#img-div {
  margin: 0;
  background-color: #163265;
  color: whitesmoke;
  border-radius: 5px;
  font-weight: 100;
  text-align: center;
  font-size: 0.7em;
  padding: 0.2em;

}

#image {
  /* responsively resize*/
  display: block; 
  max-width: 100%;
  /* centered within its parent element.*/
  height: auto;
  margin: auto;
}

#img-caption {
  margin: 4px 0 4px 0;
}

#tribute-info {
  margin: auto;
  font-weight: 100;
  text-align: center;
  margin-top: 40px;
}

footer {
  text-align: center;
  font-size: small;
}

ul {
  text-align: justify;
  word-spacing: normal;
  white-space: pre-line;
}


@media (min-width: 768px) {
  body {
    padding: 0;
  }

  #img-caption {
    font-size: 1.3em;
  }

  #tribute-info  {
    max-width: 65%;
    margin-top:0;
  }

  #img-div {
  max-width: 80%;
  margin: auto;
  }
}
